@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");
h1 {
  font-family: "Pacifico", cursive; }

.nav-wrapper {
  background-color: #9e0031; }

nav {
  color: #f4e5cd; }

#app {
  background: #f4e5cd; }

#mobile-demo img {
  border-radius: 16px; }

html {
  background-color: #40798c;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png"); }
