@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

$grey: #3a2e39
$green: #1e555c
$white: #f4e5cd
$red: #9e0031
$blue: #40798c

$pacifico: 'Pacifico', cursive

@mixin background()
    background-color: $white
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png")

h1
    font-family: $pacifico

.nav-wrapper
    background-color: $red

nav
    color: $white

#app
    background: $white

#mobile-demo
    img
        border-radius: 16px;

html
    +background